#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#########################
## JAVA
###########################
*.class
src/domain/EclipseCompiler.txt
chattiLog
*.lck
palvelinLog
*.db
keskusteluLogi21-0-2017
keskusteluLogi22-1-2017.txt
keskusteluLogi30-1-2017.txt
keskusteluLogi31-1-2017.txt
