#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#########################
## JAVA
###########################
*.class
src/domain/EclipseCompiler.txt
chattiLog
*.lck
palvelinLog
*.db
